p This app let you save encrypted secret in the FLO blockchain and produces a number of keys that must be combined to be able to decrypt the secret.
h2 This is a zero knowledge application. 
p The creation of the master key and shared keys and the encryption of the secret with the main key happens in your browser. Shared Secrets then send the encrypted information to be posted in the FLO blockchain. This is the only information sent to our servers. The server reply with the hash of the transaction and ask your browser to produce the pdf containing the information.
h2 How to use?
p The best way to do this is by example,
div(class="row row-front justify-content-md-center")
    div(class="col-5 col-md-2")
        a(class="btn btn-primary-outline front-btn btn-block" href="/post" role='button', aria-disabled="true") POST
    div(class="col-5 col-md-2")
    div(class="col-5 col-md-2")
        a(class="btn btn-primary-outline front-btn btn-block" href="/get" role='button', aria-disabled="true") GET