div(class="row row-front justify-content-md-center")
    div(class="col-5 col-md-2")
        a(class="btn btn-primary-outline front-btn btn-block" href="/post" role='button', aria-disabled="true") POST
    div(class="col-5 col-md-2")
    div(class="col-5 col-md-2")
        a(class="btn btn-primary-outline front-btn btn-block" href="/get" role='button', aria-disabled="true") GET
h2 What is this?
p This app let you save encrypted secret in the FLO blockchain and produces a number of keys that must be combined to be able to decrypt the secret.
h2 This is a zero knowledge application. 
p The creation of the master key and shared keys and the encryption of the secret with the main key happens in your browser. SharedSecrets then send the encrypted information to be posted in the FLO blockchain. This is the only information sent to our servers. The server reply with the hash of the transaction and ask your browser to produce the pdf containing information about the shares.
h2 How to record an encrypted information?
p Currently, we are only supporting messages typed or copied to a text area. Click in POST, select the number of total shares and the number of required shares, type or paste the information and click GO.
h2 How to decrypt a secret?
p Click in GET, type the number of minimum required shares and the hash of the transaction and press Find secret. Then insert the hash of each share and click decrypt. If everything is ok, you should be able to see the decrypted information.
h2 How can I help?
p Pull request changes from the git repository #[a(href='https://github.com/Flosecret/flosecret') https://github.com/Flosecret/flosecret]
p Donate FLO to: FDN6xPX3RgvWCjtXpBLQLsEgTiCkQduENR
h2 Any questions of suggestions
p Also, you can contact us on:
p #[a(href='https://twitter.com/flosharedsecret?lang=en') Twitter]
p #[a(href='https://t.me/FLOblockchain') FLO telegram channel]
p #[a(href='https://github.com/Flosecret/flosecret') Github]
