div(class="row row-front justify-content-md-center")
    div(class="col-5 col-md-2")
        a(class="btn btn-primary-outline front-btn btn-block" href="/post" role='button', aria-disabled="true") POST
    div(class="col-5 col-md-2")
    div(class="col-5 col-md-2")
        a(class="btn btn-primary-outline front-btn btn-block" href="/get" role='button', aria-disabled="true") GET
h2 What is Shared Secret?
p Shared Secret is an app that allows you to encrypt, store, and decrypt a secret using Shamir's Secret Sharing algorithm and the FLO Blockchain. The Secret is encrypted by splitting it into a set number of keyshares that can distributed to a group of keyshare holders. The keyshare holders can then recombine a specified number of the key shares to decrypt the Secret.
h2 This is a zero-knowledge application. 
p The encryption of the Secret, and the creation of the master key and individual keyshares, happens in the app. The app then writes the encrypted Secret to the FLO Blockchain and generates pdfs with the FLO Blockchain transaction ID and individual keyshares.
h2 How do I encrypt the Secret?
p Currently, the Secret must be typed into a text box that is limited to 1040 bytes. To start, click the “POST” button above and select the number of keyshares to be generated and the number of keyshares required to decrypt the Secret. Enter the Secret you want to encrypt in the text box, then click “GO” button. The encrypted Secret will then be stored to the FLO Blockchain, and a pdf for each keyshare will be generated with the transaction ID.
h2 How do I decrypt the Secret?
p Click the “GET” box, then enter required number of keyshares and FLO Blockchain transaction ID, and click “FIND SECRET.” Insert each keyshare code(found in the pdfs that were generated when the Secret was encrypted) and click “Decrypt.” If the information is entered correctly, the Secret will be displayed.
h2 What algorithms are used?
p SharedSecret asks your browser to generate a random 4096-bit key using secrets.js-grempe module (an implementation of Shamir's threshold secret sharing scheme) and encrypt the message using aes-256 from the node crypto package.
h2 How can I help?
p Pull request changes from the git repository #[a(href='https://github.com/Flosecret/flosecret') https://github.com/Flosecret/flosecret]
p Donate FLO to: FDN6xPX3RgvWCjtXpBLQLsEgTiCkQduENR
p Donate BTC to: 13scVVoHsYk6fgbXdSbSzAuCdSHSc26i7T
p Donate RVN to: RYRSNJW5VxmR7Nk8viQKchryDpyWoEUYuX
p Donate LTC to: We don't accept LTC anymore.
p To donate in other coins, just let me know.
h2 Any questions, suggestions or just wanna say "Hi"?
p #[a(href='https://twitter.com/flosharedsecret?lang=en') Twitter]
p #[a(href='https://t.me/FLOblockchain') FLO telegram channel]
p #[a(href='https://github.com/Flosecret/flosecret') Github]
