.headline
    #logo-container
        img#logo(src="assets/FLO_secret_share_logo.greyOnBlack.highres.png" style="vertical-align: middle; width: 180px")
    #headertext
        h1. 
            #[a(href='/') SharedSecret 1.0]
    #links

           