.headline
    #logo-container
        img#logo(src="assets/FLO_secret_share_logo.greyOnBlack.png" style="vertical-align: middle")
    #headertext
        h1. 
            #[a(href='/') SharedSecret 1.0] 
           