doctype html
html(lang='en')
    head
        title FloSecret
        link(href='node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='assets/style.css', rel="stylesheet", type='text/css')
    body
        include header.pug
        include frontPage.pug
