doctype html
html(lang='en')
    head
        title SharedSecret
        link(href='node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='assets/style.css', rel="stylesheet", type='text/css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        script(src="public/floSecret.js")
        include header.pug
        include post.pug
